{% extends "base.html" %}

{% block head %}
<style type="text/css">
#main{
	width: 760px;
}
h1{
	margin: 0;
	padding: 50px 50px 30px;
	background-color: white;
}
.ar .header{
	font-family: 'FrutigerLT';
	font-weight: 600;
}
.whitebloc{
	background-color: white;
	background-repeat: no-repeat;
	background-position: left 50px top 30px;
	padding: 30px 40px 30px 130px;
}
.ar .whitebloc{
	background-position: right 50px top 30px;
	padding: 30px 130px 30px 40px;
}
.infos-section-titre{
	font-size: 14px;
	font-weight: bold;
	color: #fc6a59;
}
.infos-section-col-2,
.infos-section-col-3{
	display: inline-block;
	vertical-align: top;
	margin-top: 12px;
}
.infos-section-col-2{
	width: 280px;
}
.infos-section-col-3{
	width: 190px;
}
.infos-section-delais-titre,
.infos-section-col-titre{
	font-weight: bold;
	color: #444;
}
ul{
	padding: 0 15px;
	margin: 5px 0 0;
}
li{
	margin: 2px 0;
}
.ar .infos-section-note{
	padding: 20px 80px 20px 20px;
	background-position: right 15px top 18px;
}
.infos-section-note{
	margin-top: 25px;
	padding: 20px 20px 20px 80px;
	background-color: #fcdcd7;
	background-image: url('/static/images/infos_responsable.png');
	background-repeat: no-repeat;
	background-position: left 15px top 18px;
	width: 455px;
}
#infos-section-1{
	background-image: url('/static/images/infos_section_1.png');
}
#infos-section-2{
	background-image: url('/static/images/infos_section_2.png');
}
#infos-section-3{
	background-image: url('/static/images/infos_section_3.png');
}
#infos-section-4{
	background-image: url('/static/images/infos_section_4.png');
}
.infos-section-form > div{
	display: inline-block;
	vertical-align: middle;
}
.ar .infos-section-delais-ministere,
.ar .infos-section-delais-demandeur{
	padding: 15px 80px 15px 15px;
}
.infos-section-delais-ministere,
.infos-section-delais-demandeur{
	padding: 15px 15px 15px 80px;
	margin: 2px 0;
	width: 460px;
	min-height: 44px;
}
.infos-section-delais-ministere{
	background-color: #edeff4;
}
.infos-section-delais-demandeur{
	background-color: #e6f4e6;
}
.infos-section-delais-icon{
	width: 43px;
	height: 43px;
	background-repeat: no-repeat;
	background-position: center;
	background-color: white;
	border: 1px solid #ddd;
	border-radius: 3px;
	margin: 0 -62px;
}
.infos-section-delais-demandeur > .infos-section-delais-icon{
	background-image: url('/static/images/infos_demandeur_small.png');
}
.infos-section-delais-ministere > .infos-section-delais-icon{
	background-image: url('/static/images/infos_responsable_small.png');
}
.infos-section-hr{
	position: relative;
	height: 1px;
	width: 555px;
	background-color: #ddd;
	margin: 15px 0;
	text-align: center;
}
.ar .infos-section-hr > div{
	width: 100px;
	margin: -10px -55px;
}
.infos-section-hr > div{
	position: absolute;
	background-color: white;
	left: 50%;
	padding: 0 10px;
	width: 50px;
	line-height: 21px;
	margin: -10px -50px;
	color: #fc6a59;
	font-weight: bold;
}
.grey{
	color: #888;
}

#ministeres-classement{
	padding-bottom: 15px;
	background-color: white;
}
#ministeres-classement > a{
	color: #555;
	display: block;
    text-decoration: none;
	border-top: 1px solid #f5f5f5;
	padding: 8px 25px;
}
#ministeres-classement > a > span{
    display: inline-block;
    vertical-align: middle;
}
#ministeres-classement > a > .ministere-titre{
    width: 200px;
}
#ministeres-classement > a > .ministere-note{
    margin: 0 25px;
    width: 52px;
    height: 13px;
    background-image: url('/static/images/star_off.png');
}
.ar #ministeres-classement > a > .ministere-note > div{
	background-position: right top;
}
#ministeres-classement > a > .ministere-note > div{
    height: 100%;
    background-image: url('/static/images/star_on.png');
}
#ministere-classement-header{
    padding: 15px 25px;
}
#ministere-classement-header > span{
    display: inline-block;
    vertical-align: middle;
    font-weight: bold;
}
#ministere-classement-header > .ministere-titre{
    width: 220px;
}
#ministere-classement-header > .ministere-note-label{
    width: 102px;
    text-align: center;
}
#ministere-classement-header > .ministere-note-label-sub{
	font-weight: normal;
}
.whitebloc-small{
	background-color: white;
    padding: 10px 25px;
    margin: 10px 0;
}
.tab{
	display: none;
}
.tab.active{
	display: block;
}
</style>
<script type="text/javascript">
$(document).ready(function(){
	$('.tab-link').click(function()
	{
		var $this = $(this);

		if($this.hasClass('active'))
			return false;

		$this.addClass('active').siblings().removeClass('active');

		var $tab = $('#'+$this.data('tab'));
		$tab.addClass('active').siblings().removeClass('active');
		return false;
	})
})
</script>
{% endblock %}

{% block main %}
<h1>{% trans %}Droit d'accès à l'information{% endtrans %}</h1>
<div id="acces-information" class="tab {{not request.args.indice and 'active'}}">
	<div class="whitebloc" id="infos-section-1">
		<div class="infos-section-titre">{% trans %}Qui peut déposer une demande d'accès aux documents administratifs?{% endtrans %}</div>
		<div class="infos-section-col-2 right-20">
			<div class="infos-section-col-titre">{% trans %}Personne physique{% endtrans %}</div>
		</div>
		<div class="infos-section-col-2">
			<div class="infos-section-col-titre">{% trans %}Personne morale{% endtrans %}</div>
		</div>
	</div>

	<div class="whitebloc" id="infos-section-2">
		<div class="infos-section-titre">{% trans %}Comment rédiger la demande d'accès aux documents administratifs?{% endtrans %}</div>
		<div class="infos-section-col-2 right-20">
			<div class="infos-section-col-titre">{% trans %}Remplir un formulaire administratif{% endtrans %}</div>
			<div class="infos-section-form top-10">
				{% set file = g.db.find_one('files', {'_id':'5436601a12bdaa2454513f21'}) %}
				{% if file %}
				<div class="right-5"><img src="/static/images/infos_form_download.png"></div>
				<div><a href="{{file|fileurl}}">{% trans %}Modèle de demande à telecharger{% endtrans %}</a></div>
				{% endif %}
			</div>
		</div>
		<div class="infos-section-col-2">
			<div class="infos-section-col-titre">{% trans %}Adresser une lettre sur papier libre{% endtrans %}</div>
			<div class="top-5">{% trans %}Conditions à respecter:{% endtrans %}</div>
			<ul>
				<li>{% trans %}Personne physique : Nom, prénom et l’adresse du demandeur{% endtrans %}</li>
				<li>{% trans %}Personne morale : La dénomination sociale et le siège social{% endtrans %}</li>
				<li>{% trans %}Donner les précisions nécessaires relatives à l’information demandée{% endtrans %}</li>
				<li>{% trans %}Préciser l'organisme concerné{% endtrans %}</li>
			</ul>
		</div>
	</div>

	<div class="whitebloc" id="infos-section-3">
		<div class="infos-section-titre">{% trans %}Où peut-on déposer la demande d'accès aux documents adminitratifs?{% endtrans %}</div>
		<div class="infos-section-col-3 right-30">
			<div class="infos-section-col-titre">{% trans %}Directement auprès de l'organisme public concerné{% endtrans %}</div>
			<div class="top-5">{% trans %}Délivrance obligatoire d'un récépissé{% endtrans %}</div>
		</div>
		<div class="infos-section-col-3 right-30">
			<div class="infos-section-col-titre">{% trans %}Par lettre recommandée{% endtrans %}</div>
			<div class="top-5">{% trans %}Avec accusé de réception{% endtrans %}</div>
		</div>
		<div class="infos-section-col-3">
			<div class="infos-section-col-titre">{% trans %}Par voie électronique{% endtrans %}</div>
		</div>
		<div class="infos-section-note">
			<div class="infos-section-col-titre">{% trans %}Le responsable chargé de l'accès à l'information doit:{% endtrans %}</div>
			<ul class="top-15">
				<li>{% trans %}Réceptionner les demandes d’accès à l’information{% endtrans %}</li>
				<li>{% trans %}Informer et orienter le demandeur{% endtrans %}</li>
				<li>{% trans %}Traiter les demandes dans les délais prévus par la loi{% endtrans %}</li>
			</ul>
		</div>
	</div>

	<div class="whitebloc" id="infos-section-4">
		<div class="infos-section-titre">{% trans %}Délais{% endtrans %}</div>
		<div class="top-15">
			<div class="infos-section-delais infos-section-delais-demandeur">
				<div class="infos-section-delais-icon float"></div>
				<div class="infos-section-delais-titre">{% trans %}Dépot de la demande d'accès à l'information{% endtrans %}</div>
			</div>
			<div class="infos-section-delais infos-section-delais-ministere">
				<div class="infos-section-delais-icon float"></div>
				<div>{% trans %}L’organisme public concerné doit fournir une réponse à toute demande dans un délai de <strong>15 jours</strong>.{% endtrans %}</div>
				<div class="top-5 grey">{% trans %}Exceptions:{% endtrans %}</div>
				<ul class="grey">
					<li title="Si la demande concerne un grand nombre de documents ou si la demande nécessite la consultation d'autres parties.">{% trans %}Prolongation du délai initial de <strong>15 jours</strong>{% endtrans %}.</li>
					<li title="Si la demande pourrait avoir des conséquences sur la protection de la vie ou la liberté d'une personne.">{% trans %}Raccourcissement des délais: ne pas dépasser les <strong>2 jours</strong> ouvrables{% endtrans %}.</li>
				</ul>
			</div>
			<div class="infos-section-hr"><div>{% trans %}Si refus{% endtrans %}</div></div>
			<div class="infos-section-delais infos-section-delais-demandeur">
				<div class="infos-section-delais-icon float"></div>
				<div class="infos-section-delais-titre">{% trans %}Dépot de la demande de recours gracieux{% endtrans %}</div>
				<div class="top-5">{% trans %}Dans un délai ne dépassant pas les <strong>15 jours</strong> qui suivent la décision de refus ou de la violation des dispositions du décret-loi n°41{% endtrans %}</div>
			</div>
			<div class="infos-section-delais infos-section-delais-ministere">
				<div class="infos-section-delais-icon float"></div>
				<div>{% trans %}Le chef de l’organisme doit répondre dans les <strong>10 jours</strong> suivant la date deréception de la demande en appel.{% endtrans %}</div>
			</div>
			<div class="infos-section-hr"><div>{% trans %}Si refus{% endtrans %}</div></div>
			<div class="infos-section-delais infos-section-delais-demandeur">
				<div class="infos-section-delais-icon float"></div>
				<div class="infos-section-delais-titre">{% trans %}Recours auprès du tribunal administratif.{% endtrans %}</div>
				<div class="top-5">{% trans %}Le demandeur qui n’est pas satisfait de la décision du chef de l’organisme peut faire appel devant le tribunal administratif dans un délai de <strong>30 jours</strong>.{% endtrans %}</div>
			</div>
		</div>
	</div>
</div>

<div id="acces-information-indice" class="tab top-10 {{request.args.indice and 'active'}}">
	<div class="whitebloc-small">
        {{page.texte|lang|safe}}
    </div>
	<div id="ministeres-classement">
        <div id="ministere-classement-header">
            <span class="ministere-titre">{% trans %}Ministère{% endtrans %}</span>
            <span class="ministere-note-label">{% trans %}Note globale{% endtrans %}</span>
            <span class="ministere-note-label ministere-note-label-sub">{% trans %}Accueil et orientation{% endtrans %}</span>
            <span class="ministere-note-label ministere-note-label-sub">{% trans %}Procédure de dépôt{% endtrans %}</span>
            <span class="ministere-note-label ministere-note-label-sub">{% trans %}Délais de réponse{% endtrans %}</span>
            <span class="ministere-note-label ministere-note-label-sub">{% trans %}Qualité de l'information{% endtrans %}</span>
        </div>

        {% for ministere in ministeres %}
        {% for evaluation in ministere.evaluation or [] %}
        <a class="ministère_{{ministere_id}}" href="{{url_for('root.ministere', ministere_id=ministere.abbr)}}">
            {% if evaluation.titre %}
            <span class="ministere-titre right-20">{{evaluation.titre|lang}}</span>
            {% else %}
            <span class="ministere-titre right-20">{{ministere.nom_court|lang}}</span>
            {% endif %}
			<span class="ministere-note"><div style="width:{{(evaluation.total or 0)*13/4}}px"></div></span>
            <span class="ministere-note ministere-note-sub"><div style="width:{{evaluation.accueil.note*13}}px"></div></span>
            <span class="ministere-note ministere-note-sub"><div style="width:{{evaluation.procedure.note*13}}px"></div></span>
            <span class="ministere-note ministere-note-sub"><div style="width:{{evaluation.delais.note*13}}px"></div></span>
            <span class="ministere-note ministere-note-sub"><div style="width:{{evaluation.information.note*13}}px"></div></span>
        </a>
        {% endfor %}
        {% endfor %}
    </div>
	<div class="whitebloc-small">
		{% set page_1 = g.db.find_one('pages',{'nom':'classement_1'}) %}
        {{page_1.texte|lang|safe}}
	</div>
</div>
{% endblock %}