<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:og="http://ogp.me/ns#" lang="{{g.lang_code}}">
	
	<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# almarsad: http://ogp.me/ns/fb/almarsad#">
	{% block meta %}
    		<title>{% trans %}Marsad Budget Bloging{% endtrans %}</title>
    	{% endblock %}
    	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    	<meta property="og:url" content="{{url_for(request.endpoint, _external=True, **request.view_args)}}" />
    	<meta property="og:site_name" content="Marsad" />
    	<script type="text/javascript" src="/static/jquery-2.0.2.min.js"></script>
    	<script src="/static/bootstrap-tooltip.js"></script>
    	<script src="/static/bootstrap-popover.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Vollkorn" rel="stylesheet">
	
      	   
        <meta charset="utf-8" />
       	<link rel="stylesheet" href="/static/actualite/css/style.css" />
	<link rel="stylesheet" href="/static/actualite/css/nivo-slider.css" type="text/css" media="screen" />
	<!--link rel="stylesheet" href="/static/actualite/css/default/default.css" type="text/css" media="screen" />-->
	<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
	<script src="jquery.nivo.slider.pack.js" type="text/javascript"></script>
	<script src="/static/actualite/social_media/social_media.js" type="text/javascript"></script>
        <!--[if lt IE 9]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        <title>MARSAD.BUDGET BLOG</title>
    </head>
	<body style="color: white;min-height:600px;" class="{{g.lang_code}}"  data-url="{{request.path}}" id="blog" data-endpoint="{{request.endpoint[5:]}}" data-args="{{request.view_args|tojson|safe}}">
	
	
		<div id="header" style="height:120px;background-color:transparent;position:absolute;box-shadow: 0 0px 0px 0 ">
        		<a id="logo" href="{{url_for('root.home')}}" >
            			<span class="word-marsad" style="font-size:1.2em">{% trans %}MARSAD{% endtrans %}</span>
            			<span class="word-dot">.</span>
            			<span class="word-budget" style="font-size:1.4em" >{% trans %}budget{% endtrans %}</span>
       			 </a>
	        	<div class="floati" style="font-color:white">
        			<a id="page-fb" href="https://www.facebook.com/AlBawsala" target="_blank" style="color:#fc6a59"></a>
            			<a id="page-tw" href="https://twitter.com/AlBawsalaTN" target="_blank"></a>
            			{% if g.lang_code == "ar" %}
            			<a id="lang" class="lang-fr" href="{{ url_for(request.endpoint, lang_code='fr', **request.view_args) }}" style="">Français</a>
            			{% else %}
		      		<a id="lang" class="lang-ar" href="{{ url_for(request.endpoint, lang_code='ar', **request.view_args) }}" style="font-size:1.4em">عربي</a>
            			{% endif %}
        		</div>
        		<a href="{{url_for('root.actualite')}}" ><h1 align="center" style="color:#c44d3d; font-size:5em; margin-top:-10px"> Budget Bloging </h1></a>

   		</div>
</br></br>

		<div id="wrapper">
			<!--__--__--__--__--  M A I N   C O N T E N T  --__--__--__--___--__--__-->
			<section>
				<!--__--__--__-- A R T I C L E S --__--__--__--__-->
				<div id="articles" style="width:65%" >
					{% for post in posts %}
					<article >
						<h1>{{post.titre|lang}}</h1>
						<h2 style="color: white;">{% trans %}Publier par{% endtrans %} :
							<a href="{{url_for('root.home')}}">{% trans %}equipe AlBawsala Budget le{% endtrans %}</a> {{ post.date |datetimeformat("d MMMM y") }}</h2>
						<img src="/uploads/images/{{post.image}}" alt="" />
						<p >{{post.contenu|lang|safe}}...
						<span class="tags" ><a href="{{url_for('root.article',article_id=post._id)}}" class="tag" >{%trans %}lire la suite{% endtrans %}</a></span></p>
						<div style="border-top:solide;margin-top:-20px">
						{% if post.vue %}
							<p>{{post.vue}} {% trans %}vue(s){% endtrans %}</p>
						{% else %}
							<p>{% trans %}0 Vue soyer le(a) premiér(e) a lire cette article{% endtrans %}</p>
						{% endif %}
						</div>				
					</article>
					{% endfor %}


					<span class="tags" style="margin:0px 50px 0px 0px">
					{% if nbrPage < 31 %}
						{% for np in range(nbrPage) %}
							<a class="tag" href="{{np}}">{{np+1}}</a>
						{% endfor %}
					{% elif page>(nbrPage-31) %}
						{% for np in range(nbrPage-31,nbrPage) %}
							<a class="tag" href="{{np}}">{{np+1}}</a>
						{% endfor %}
					{% elif page>3 %}
						{% for np in range(page-2,page+30) %}
							<a class="tag" href="{{np}}">{{np+1}}</a>
						{% endfor %}
					{% else %}
						{% for np in range(0,31) %}
							<a class="tag" href="{{np}}">{{np+1}}</a>
						{% endfor %}
					{% endif %}
					
					</span>
				</div>
				<!--__--__--__--  S I D E B A R --__--__--__--__-->	
				<div id="sidebar" style="margin-top:-10x;margin-left:-58px;margin-right:0px;width:40%;color:#c44d3d;font-family: 'Vollkorn', serif;">
						<!--__--__--__--  les articles récents --__--__--__--__-->	
					<aside style="width:100%;">
						<h1 class="articlsidebar">{% trans %}Articles récents{% endtrans %}</h1>
						{% if g.lang_code == "fr" %}
						<div style="margin-top:10px;margin-left:20px">
						{% else %}
						<div style="margin-top:10px;margin-right:40px">
						{% endif %}

						<ul>
							{% for post in g.db.find('article',sort=[('date',-1)]).limit(5) %}
							<li  style="font-size:14px;font-weight:normal"><a href="{{url_for('root.article',article_id=post._id)}}">{{post.titre|lang}}</a></li>
							{% endfor %}		
						</ul>
						</div>
					</aside>

						<!--__--__--__--  les articles les plus visités --__--__--__--__-->
					<aside style="width:100%;">
						<h1 class="articlsidebar">{% trans %}Articles les plus lus{% endtrans %}</h1>
						{% if g.lang_code == "fr" %}
						<div style="margin-top:10px;margin-left:20px">
						{% else %}
						<div style="margin-top:10px;margin-right:40px">
						{% endif %}

						<ul>
							
							{% for post in g.db.find('article',sort=[('vue',-1)]).limit(5) %}
							<li style="font-size:14px;font-weight:normal"><a href="{{url_for('root.article',article_id=post._id)}}">{{post.titre|lang}}</a></li>
							{% endfor %}
						</ul>
						</div>
					</aside>
				</div>
			</section>
			<!--__--__--__--__--  T H E    F O O T E R --__--__--__--___--__--__--__-->
			<footer>	
				{% if g.lang_code == "ar" %}
					<div style="margin:0px 20px 0px 10px" >
				{% else %}
					<div style="margin:0px 10px 0px 10px" >
				{% endif %}
					<strong style="width:20%">{% trans %}Marsad{% endtrans %}:</strong></br>
            				<a style="margin:10px" href="{{url_for('root.page', page_id='about')}}">{% trans %}Qui sommes nous{% endtrans %}</a>
            				<a href="{{url_for('root.wiki')}}">{% trans %}Glossaire{% endtrans %}</a>
					<a style="margin:10px" href="{{url_for('root.faq')}}">{% trans %}FAQ{% endtrans %}</a>
        			</div>
				
			</footer>
		</div>			
	</body>
</html>
		
		
			
    
    
