<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:og="http://ogp.me/ns#" lang="{{g.lang_code}}">

<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# almarsad: http://ogp.me/ns/fb/almarsad#">
    {% block meta %}
    <title>{% trans %}Marsad Budget{% endtrans %}</title>
    {% endblock %}
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta property="og:url" content="{{url_for(request.endpoint, _external=True, **request.view_args)}}" />
    <meta property="og:site_name" content="Marsad" />
    <link rel="stylesheet" href="/static/base.10.css"/>
    <link rel="stylesheet" href="/static/bootstrap-popover-tooltip.css">
    <link rel="stylesheet" href="/static/ministeres.10.css">
    {% if (request.path == "/" or request.path == "/fr/") %}
    <script type="text/javascript" src="/static/js/jquery-1.5.2.min.js"></script>
    {% else %}
    <script type="text/javascript" src="/static/js/jquery.min.js"></script>
    {% endif %}
    <script src="/static/bootstrap-tooltip.js"></script>
    <script src="/static/bootstrap-popover.js"></script>
    {% if request.host != 'marsad_budget' %}
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-31210050-2', 'auto');
      ga('send', 'pageview');
    </script>
    {% endif %}
    <script src="/static/jquery.mousewheel.min.js"></script>
    <script src="/static/svg.js"></script>
    <script src="/static/ministeres.10.js"></script>
    {% block head %}{% endblock %}
</head>

<body class="{{g.lang_code}}"
    data-url="{{request.path}}"
    data-endpoint="{{request.endpoint[5:]}}"
    data-args='{{request.view_args|tojson|safe}}'
>
    <div id="header">
        <a id="logo" href="{{url_for('root.home')}}">
            <span class="word-marsad">{% trans %}MARSAD{% endtrans %}</span>
            <span class="word-dot">.</span>
            <span class="word-budget">{% trans %}budget{% endtrans %}</span>
        </a>
	  <div class="search">
    <form action="search" method="get">
      <input class="form-control" type="text" name="q" placeholder="{%trans%}Recherche{%endtrans%}..." data-intro='{% trans %}recherche de linformation {% endtrans %}'></input>
    </form>
  </div>
        <div class="floati">
            <a id="page-fb" href="https://www.facebook.com/AlBawsala" target="_blank"></a>
            <a id="page-tw" href="https://twitter.com/AlBawsalaTN" target="_blank"></a>
            {% if g.lang_code == "ar" %}
            <a id="lang" class="lang-fr" href="{{ url_for(request.endpoint, lang_code='fr', **request.view_args) }}">Français</a>
            {% else %}
            <a id="lang" class="lang-ar" href="{{ url_for(request.endpoint, lang_code='ar', **request.view_args) }}">عربي</a>
            {% endif %}
        </div>
    </div>

    <div id="ministeres">
        {% for elt in g.db.find('ministeres', {'active':True}, sort=[('nom_court.%s' % g.lang_code,1)]) %}
        <a class="ministère_{{elt.abbr}}" href="{{url_for('root.ministere', ministere_id=elt.abbr)}}">
            <span class="ministere-titre">{{elt.nom_court|lang}}</span>
        </a>
        {% endfor %}
    </div>

    <div id="main">
        {% block main %}{% endblock %}
       <div id="disqus_thread" style="padding : 10px"></div>
    <script>

    /**
    *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE
SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
    *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT:
https://disqus.com/admin/universalcode/#configuration-variables*/
    /*
    var disqus_config = function () {
    this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's
canonical URL variable
    this.page.identifier = PAGE_IDENTIFIER; // Replace
PAGE_IDENTIFIER with your page's unique identifier variable
    };
    */
    var disqus_config = function () {
      this.language = $('html').attr('lang');
    };
    (function() { // DON'T EDIT BELOW THIS LINE
    var d = document, s = d.createElement('script');
    s.src = '//budget-2.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
    })();
    </script>
    </div>

    {% if bla %}
    <div id="footer">
        <div>
            <div><strong>{% trans %}Marsad{% endtrans %}</strong></div>
            <div><a href="{{url_for('root.page', page_id='about')}}">{% trans %}Qui sommes nous{% endtrans %}</a></div>
            <div><a href="{{url_for('root.wiki')}}">{% trans %}Glossaire{% endtrans %}</a></div>
            <div><a href="{{url_for('root.docs')}}">{% trans %}Documents{% endtrans %}</a></div>
        </div>
        <div>
            <div><strong>{% trans %}Pages spéciales{% endtrans %}</strong></div>
            <div><a href="{{url_for('root.acces_information')}}">{% trans %}Accès à l'information{% endtrans %}</a></div>
            <div><a href="{{url_for('root.focus', focus_id='dette_publique')}}">{% trans %}Focus: Dette publique{% endtrans %}</a></div>
            <div><a href="{{url_for('root.focus', focus_id='compensation')}}">{% trans %}Focus: Compensation{% endtrans %}</a></div>
            <div><a href="{{url_for('root.processus_budgetaire')}}">{% trans %}Processus budgétaire{% endtrans %}</a></div>
        </div>
        <div>
            <a id="footer-albawsala" href="http://www.albawsala.com" target="_blank">
                <div class="strong">{% trans %}Al Bawsala{% endtrans %}</div>
                <div class="grey">www.albawsala.com</div>
            </a>
        </div>
    </div>
    {% endif %}
</body>
</html>
