{% extends "base.html" %}

{% block head %}
{% set budget_height, level_width, bar_width = 320, 250, 60 %}
<script type="text/javascript">
var budget_height = {{budget_height}};
var level_width = {{level_width}};
var bar_width = {{bar_width}};
var lf_2014 = {{lf_2014|tojson|safe}};
var lfc_2014 = {{lfc_2014|tojson|safe}};
</script>
<script src="/static/svg.js"></script>
<script src="/static/budget.8.js"></script>
<script src="/static/budget_etat.3.js"></script>
<script src="/static/home.2.js"></script>
<style type="text/css">
.ar #main-wrapper-wrapper,
#main-wrapper-wrapper{
	background-color: white;
	margin: 0;
}
.ar #footer-wrapper,
#footer-wrapper{
	margin: 0;
}
#main-wrapper{
	width: auto;
}
#budget{
	font-family: 'Open Sans';
	position: relative;
	width: 100%;
	height: 100%;
}
#budget.level0 > #recettes{		right:	805px; }
#budget.level0 > #depenses{		left:	20px; }
#budget.level1 > #depenses{		left:	-300px; }
#budget.level-0 > #depenses{ 	left:	805px; }
#budget.level-0 > #recettes{ 	right:	20px; }
#budget.level-1 > #recettes{ 	right:	-300px; }
#budget.level-2 > #recettes{ 	right:	-620px; }
#budget.level-3 > #recettes{ 	right:	-940px; }
#recettes{
	position: absolute;
	direction: rtl;
	right: 50%;
	margin-right: 4px;
}
#depenses{
	position: absolute;
	direction: ltr;
	left: 50%;
	margin-left: 4px;
}
.bar{
	position: relative;
	margin: 20px 0;
}
.bar:first-of-type,
.root > .bar{
	margin: 0px;
}
.bar.transparent{
	opacity: 0.5;	
}
.bar-paint{
	background-color: rgba(0,0,0,0.2);
	width: {{bar_width}}px;
	height: 100%;
	position: absolute;
	z-index: 2;
	opacity: 0.7;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.bar-paint:hover{
	opacity: 1;
}
.bar.transparent > .bar-label,
.bar.open > .bar-label{
	width: {{level_width - 10}}px;
	overflow: hidden;
	text-overflow: ellipsis;
}
.bar-label-value,
.bar-label-titre{
	position: absolute;
	z-index: 2;
	line-height: 20px;
	font-weight: 600;
	user-select: none;
	-webkit-user-select: none;
	cursor: default;
}
.bar-label-value{
	font-size: 12px;
	width: {{bar_width}}px;
	text-align: center;
	color: #000;
}
.bar-label-titre{
	white-space: nowrap;
	font-size: 13px;
	left: 70px;
	color: #666;
}
.bar.open > .bar-label-titre,
.bar.transparent .bar-label-titre{
	width: 170px;
	overflow: hidden;
	text-overflow: ellipsis;
}
#recettes .bar-label-titre{
	right: 70px;
	left: auto;
}
#recettes > .bar > .bar-label-titre{
	right: 10px;
}
#depenses > .bar > .bar-label-titre{
	left: 10px;
}
.bar.open > .childbars > .bar:first-of-type{
	margin-top: 0!important;
}
.childbars{
	margin-left: {{level_width}}px;
	opacity: 0;
	transition: opacity 350ms;
}
#recettes .childbars{
	margin-left: 0px;
	margin-right: {{level_width}}px;
}
#recettes > .bar > .childbars{
	margin-right: 190px;
}
#depenses > .bar > .childbars{
	margin-left: 190px;
}
.root > .bar > .childbars,
.bar.open > .childbars{
	opacity: 1;
	z-index: 10;
}
.bar.open > .childbars > .bar.tiny{
	height: 1px!important;
}
.bar > svg{
	position: absolute;
	z-index: 1;
	width: {{level_width - bar_width}}px;
	left: {{bar_width}}px;
	opacity: 0; 
	transition: opacity 350ms;
}
.root > .bar > svg{
	left: 0px;
}
.root > .bar > svg,
.bar.open > svg{
	opacity: 1;
}
#recettes .bar > svg{
	left: auto;
	right: 60px;
}
#recettes > .bar > svg{
	right: 0px;
}
.bar path{
	stroke: #ececec;
	fill: none;
}
#depenses > .bar:nth-of-type(1) > .bar-paint,
#recettes > .bar:nth-of-type(1) > .bar-paint{
	display: none;
}
#depenses > .bar > .childbars > .bar:nth-of-type(1) .bar-paint{ background-color: #c1d456!important; }
#depenses > .bar > .childbars > .bar:nth-of-type(2) .bar-paint{ background-color: #d59558!important; }
#depenses > .bar > .childbars > .bar:nth-of-type(3) .bar-paint{ background-color: #d65a5a!important; }
#depenses > .bar > .childbars > .bar:nth-of-type(4) .bar-paint{ background-color: rgb(200, 238, 177)!important; }

#depenses > .bar > .childbars > .bar:nth-of-type(5) .bar-paint{ background-color: #4f7aaf!important; }
#depenses > .bar > .childbars > .bar:nth-of-type(6) .bar-paint{ background-color: #4aab88!important; }

#recettes > .bar > .childbars > .bar:nth-of-type(1) .bar-paint{ background-color: #b8ccbc!important; }
#recettes > .bar > .childbars > .bar:nth-of-type(2) .bar-paint{ background-color: #80c0ce!important; }
#recettes > .bar > .childbars > .bar:nth-of-type(3) .bar-paint{ background-color: #C6C5B7!important; }
#recettes > .bar > .childbars > .bar:nth-of-type(4) .bar-paint{ background-color: #d1dee1!important; }
#recettes > .bar > .childbars > .bar:nth-of-type(5) .bar-paint{ background-color: #FFA9C7!important; }

#budget-wrapper-wrapper{
	position: relative;
	overflow: hidden;
	height: 440px;
	padding: 50px 0 0;
}
#budget-wrapper{
	position: absolute;
	width: 100%;
	left: 0;
	transition: left 350ms;
}
/*
#years{
	font-weight: bold;
}
#years > a{
	display: inline-block;
	opacity: 0.5;
	padding: 0 4px;
	text-decoration: none;
}
#years > a.active,
#years > a:hover{
	opacity: 1;
}
*/
.ar #depenses-titre{
	font-family: 'FrutigerLT';
	font-size: 32px;
}
#depenses-titre{
	text-align: center;
	font-family: 'Helvetica Neue Condensed';
	font-size: 30px;
	line-height: 1.2em;
	color: #f26e4e;
}
.ar #depenses-sous-titre{
	font-family: 'FrutigerLT';
}
#depenses-sous-titre{
	text-align: center;
	font-family: 'Helvetica Neue Condensed';
	font-size: 20px;
	line-height: 1.2em;
	color: #666;
}
#depenses-downloads{
	margin-top: 20px;
	text-align: center;
}
.autres-count{
	direction: ltr;
	display: inline-block;
}
</style>
{% endblock %}

{% block main %}
<div id="main-wrapper">
	<div id="depenses-titre">{% trans %}BUDGET{% endtrans %}</div>
	<div id="depenses-sous-titre">{% trans %}de l'État{% endtrans %} <span id="depenses-sous-titre-year">(2014)</span></div>
	{% set id_depenses = g.db.find_one('files',{'_id':'543b8d6912bdaa2454513f23'}) %}
	{% set id_recettes = g.db.find_one('files',{'_id':'543b8d5312bdaa2454513f22'}) %}
	<div id="depenses-downloads">
		{% trans %}Télécharger{% endtrans %}: <a href="{{id_depenses|fileurl}}">{% trans %}dépenses{% endtrans %}</a> | <a href="{{id_recettes|fileurl}}">{% trans %}recettes{% endtrans %}</a>
	</div>
	<div id="budget-wrapper-wrapper">
	<div id="budget-wrapper">
		<div id="budget"></div>
	</div>
	</div>
</div>
{% endblock %}