{% extends "base.html" %}

{% block head %}
<style type="text/css">
#main > div{
	width: 840px;
	margin: 0 auto;
}
#focus-menu-wrapper{
	
}
#focus-menu{
	position: fixed;
	top: 170px;
	border-bottom: 1px solid #ddd;
}
#focus-menu > a{
	display: block;
	width: 200px;
	border-top: 1px solid #ddd;
	padding: 12px;
	color: #999;
	font-size: 13px;
	font-weight: 600;
	font-family: 'Open Sans';
	color: #464c56;
}
.ar #focus-menu > a{
	font-family: 'FrutigerLT';
	font-size: 14px;
	font-weight: 400;
}
#focus-content{
	width: 600px;
}
#focus-content img{
	display: block;
	width: 600px;
}
#focus-content h1{
	color: white;
	text-align: center;
	background-color: #464c56;
	padding: 30px;
	line-height: 1.1em;
	margin: 15px 0;
}
</style>
{% endblock %}

{% block main %}
<div>
	<div id="focus-menu-wrapper">
	<div id="focus-menu">
		<a href="#chap1">{% trans %}Hypothèses{% endtrans %}</a>
		<a href="#chap2">{% trans %}Objectifs{% endtrans %}</a>
		<a href="#chap3">{% trans %}Performance macroéconomique 2015{% endtrans %}</a>
		<a href="#chap4">{% trans %}Exécution du budget 2015 de développement{% endtrans %}</a>
		<a href="#chap5">{% trans %}Dépenses de gestion 2016{% endtrans %}</a>
		<a href="#chap6">{% trans %}Quelques projets de développement{% endtrans %}</a>
		<a href="#chap7">{% trans %}Les objectifs fiscaux et leur impact financier{% endtrans %}</a>
		<a href="#chap8">{% trans %}Principales mesures fiscales et douanières{% endtrans %}</a>
		<a href="#chap9">{% trans %}Changements notables du projet de loi{% endtrans %}</a>
	</div>
	</div>
	<div id="focus-content" class="floati">
		<h1 id="chap1">{% trans %}Hypothèses{% endtrans %}</h1>
		<img src="/static/images/focus_LF2016_{{g.lang_code}}_1_hypotheses.png"/>
		<h1 id="chap2">{% trans %}Objectifs{% endtrans %}</h1>
		<img src="/static/images/focus_LF2016_{{g.lang_code}}_2_compensation.png"/>
		<h1 id="chap3">{% trans %}Performance macroéconomique 2015{% endtrans %}</h1>
		<img src="/static/images/focus_LF2016_{{g.lang_code}}_3_preformances_macro.png"/>
		<h1 id="chap4">{% trans %}Exécution du budget 2015 de développement{% endtrans %}</h1>
		<img src="/static/images/focus_LF2016_{{g.lang_code}}_4_execution_budget_dev.png"/>
		<h1 id="chap5">{% trans %}Dépenses de gestion 2016{% endtrans %}</h1>
		<img src="/static/images/focus_LF2016_{{g.lang_code}}_5_depenses_gestion.png"/>
		<h1 id="chap6">{% trans %}Quelques projets de développement{% endtrans %}</h1>
		<img style="border:1px solid #ddd" src="/static/images/focus_LF2016_ar_6_exemple_1.png"/>
		<img class="top-10" style="border:1px solid #ddd" src="/static/images/focus_LF2016_ar_6_exemple_2.png"/>
		<img class="top-10" style="border:1px solid #ddd" src="/static/images/focus_LF2016_ar_6_exemple_3.png"/>
		<img class="top-10" style="border:1px solid #ddd" src="/static/images/focus_LF2016_ar_6_exemple_4.png"/>
		<img class="top-10" style="border:1px solid #ddd" src="/static/images/focus_LF2016_ar_6_exemple_5.png"/>
		<img class="top-10" style="border:1px solid #ddd" src="/static/images/focus_LF2016_ar_6_exemple_6.png"/>
		<h1 id="chap7">{% trans %}Les objectifs fiscaux et leur impact financier{% endtrans %}</h1>
		<img src="/static/images/focus_LF2016_{{g.lang_code}}_7_fiscalite.png"/>
		<h1 id="chap8">{% trans %}Principales mesures fiscales et douanières{% endtrans %}</h1>
		<img src="/static/images/focus_LF2016_ar_8_tva_douane.png"/>
		<h1 id="chap9">{% trans %}Changements notables du projet de loi{% endtrans %}</h1>
		<img src="/static/images/focus_LF2016_ar_9_texte_loi_1.png"/>
		<img src="/static/images/focus_LF2016_ar_9_texte_loi_2.png"/>
		<img src="/static/images/focus_LF2016_ar_9_texte_loi_3.png"/>
	</div>
</div>
{% endblock %}