{% extends "base.html" %}

{% block head %}
<style type="text/css">
#footer{
	display: none;
}
#main{
	margin-top: 0;
	height: 100%;
}
#intro-titre{
	margin-top: 0;
}
#cols{
	padding-top: 52px;
	height: 100%;
	width: 100%;
}
#col-1{
	width: 300px;
	min-width: 300px;
}
#col-2{
	background-color: white;
	min-width: 500px;
	/*
	background-color: #eeedea;
	*/
}
#depenses{
	position: relative;
	width: 500px;
	height: 650px;
	margin: 0px auto;
}
#depenses > div{
	position: absolute;
}
#depenses > .circle{
	z-index: 3;
	top: 270px;
	left: 410px;
	width: 0;
	height: 0;
	border-radius: 0px;
	background-color: #7F8188;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 45% 45%;
	transform-origin: -160px 0;
	transition: 500ms all;
}
#depenses > .label{
	top: 270px;
	left: 410px;
	line-height: 17px;
	height: 17px;
	transform-origin: -160px 0;
	transition: 500ms all;
}
#depenses > .label > div{
	margin-top: -17px;
	white-space: nowrap;
	text-align: left;
}
#depenses > .label.small > div{
	margin-top: -7px;
}
#depenses > .label > div > .label-text{
	font-size: 13px;
}
#depenses > .label > div > .label-total{
	color: #888;
}
#depenses > .label.small > div > .label-text{
	font-size: 12px;
}
#depenses > .label.small > div > .label-total{
	display: none;
}
#depenses #label-autres{
	width: 100%;
	height: 100%;
}
#depenses #circle-autres{
	background-color: #aaa;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: pointer;
}
#depenses #circle-autres:hover{
	background-color: #7F8188;
}
#depenses #label-autres > div{
	color: white;
	font-size: 15px;
	font-weight: 600;
	font-family: 'Open Sans';
	height: 100%;
	width: 100%;
	line-height: 18px;
	text-align: center;
}
.ar #depenses #label-autres > div{
	font-family: 'FrutigerLT';
}
/*#depenses #label-autres > div > .label-total{
//	display: none;
}*/
#depenses #label-autres.mirror > div{
	transform: Scale(-1,-1);
}
#depenses > .mirror > div{
	transform: Scale(-1,-1);
	text-align: right;
}
#depenses > #depenses-total{
	width: 150px;
	top: 247px;
	left: 175px;
	color: white;
	text-align: center;
}
#depenses > #depenses-total > #depenses-total-label{
	line-height: 20px;
	font-size: 12px;
}
#depenses > #depenses-total > #depenses-total-montant{
	line-height: 22px;
	font-size: 20px;
}
#depenses-total-circle{
	border-radius: 200px;
	background-color: #7f8188;
	transition: all 500ms;
}
#depenses-titre{
	font-size: 18px;
	color: #f26e4e;
	line-height: 1.2em;
	margin: 0;
}
#depenses-sans{
	margin-top: 2px;
}
#depenses-sans > *{
	display: inline-block;
	vertical-align: middle;
}
.depenses-year , .resources-year {
	color: #444;
	font-weight: 600;
	font-family: 'Open Sans';
}
.ar .depenses-year{
	font-family: 'FrutigerLT';
	font-weight: 400;
}
.depenses-year.active , .resources-year.active {
	opacity: 1;
	color: #F26E4E;
}
#menu > a{
	display: block;
	padding-left: 60px;
	height: 57px;
	margin: 15px 0;
	background-repeat: no-repeat;
}
.ar #menu > a{
	padding-left: 0px;
	padding-right: 60px;
	background-position: right top;
}
#menu > a:hover,
#menu > a:hover > .menu-titre,
#menu > a:hover > .menu-sous-titre{
	color: #F76C54;
	text-decoration: none;
}
#menu-acces-info{
	background-image: url('/static/images/home_acces_infos.png');
}
#menu-focus-dette{
	background-image: url('/static/images/home_focus_dette.png');
}
#menu-focus-compensation{
	background-image: url('/static/images/home_focus_compensation.png');
}
#menu-processus-budgetaire{
	background-image: url('/static/images/home_processus_budgetaire.png');
}
#menu-wiki{
	background-image: url('/static/images/home_wiki.png');
}
#menu-docs{
	background-image: url('/static/images/home_docs.png');
}
.ar #menu > a > .menu-titre{
	font-family: 'FrutigerLT';
}
#menu > a > .menu-titre{
	padding-top: 10px;
	font-family: 'Helvetica Neue Condensed';
	font-size: 16px;
	color: #555;
}
#menu > a > .menu-sous-titre{
	color: #888;
}
</style>


<link rel="stylesheet" type="text/css" href="/static/css/bubbletree.css" />
<script type="text/javascript" src="/static/js/jquery.history.js"></script>
<script type="text/javascript" src="/static/js/raphael.js"></script>
<script type="text/javascript" src="/static/js/vis4.js"></script>
<script type="text/javascript" src="/static/js/Tween.js"></script>
<script type="text/javascript" src="/static/js/bubbletree.js"></script>
<!--<script type="text/javascript" src="/static/js/show_resources.js"></script>-->
<script type="text/javascript" src="/static/home.15.js"></script>

{% endblock %}

{% block main %}
<table cellpadding="50" cellspacing="0" id="cols"><tr style="vertical-align:top">
	<td id="col-1">
		<div id="intro">
			<h2 id="intro-titre">{% trans %}Marsad Budget{% endtrans %}</h2>
			<div class="top-15">{{page.texte|lang|safe}}</div>
			<div><a href="{{url_for('root.page', page_id='about')}}">{% trans %}Plus d'informations{% endtrans %} ...</a></div>
		</div>
		<div id="menu" class="top-50">
			<a id="menu-focus-dette" href="{{url_for('root.focus', focus_id='LF2016')}}">
				<div class="menu-titre">{% trans %}Loi de finances 2016{% endtrans %}</div>
				<div class="menu-sous-titre">{% trans %}Infographie{% endtrans %}</div>
			</a>
			<a id="menu-focus-compensation" href="{{url_for('root.focus', focus_id='compensation')}}">
				<div class="menu-titre">{% trans %}Compensation{% endtrans %}</div>
				<div class="menu-sous-titre">{% trans %}Infographie{% endtrans %}</div>
			</a>
			<a id="menu-focus-dette" href="{{url_for('root.focus', focus_id='dette_publique')}}">
				<div class="menu-titre">{% trans %}Dette publique{% endtrans %}</div>
				<div class="menu-sous-titre">{% trans %}Infographie{% endtrans %}</div>
			</a>
			<a id="menu-processus-budgetaire" href="{{url_for('root.processus_budgetaire')}}">
				<div class="menu-titre">{% trans %}Processus budgétaire{% endtrans %}</div>
				<div class="menu-sous-titre">{% trans %}Étapes et délais{% endtrans %}</div>
			</a>
			<a id="menu-acces-info" href="{{url_for('root.acces_information')}}">
				<div class="menu-titre">{% trans %}Accès à l'information{% endtrans %}</div>
				<div class="menu-sous-titre">{% trans %}Explication de la procédure{% endtrans %}</div>
			</a>
		</div>
	</td>
	<td id="col-2">
		<div id="depenses-sans" class="floati">
				<input id="depenses-sans-input" data-type="total_sans" type="checkbox">
			<label for="depenses-sans-input">{% trans %}Sans dette{% endtrans %}</label>
			<br>
			<input id="compensations-sans-input" data-type="total_comp" type="checkbox">
			<label for="compensations-sans-input">{% trans %}sans compensation{% endtrans %}</label>
		</div>
		<h3 id="depenses-titre">{% trans %}Dépenses de l'État{% endtrans %}</h3>
		<div class="top-5">
			<!-- <a href="{{url_for('root.budget_raw', year=2012, budget_type='LFC')}}" class="depenses-year right-5">2012</a>
			<a href="{{url_for('root.budget_raw', year=2013, budget_type='LFC')}}" class="depenses-year right-5">2013</a>
			<a href="{{url_for('root.budget_raw', year=2014, budget_type='LFC')}}" class="depenses-year right-5">2014</a>
			<a href="{{url_for('root.budget_raw', year=2015, budget_type='LF')}}" class="depenses-year right-5">2015</a>
			<a href="{{url_for('root.budget_raw', year=2016, budget_type='LF')}}" class="depenses-year active">2016</a>
			<br> -->
			{% for link in bud_links %}
			{% if link.year != bud_links[0].year %}
			{% set class="right-5" %}
			{% else %}
			{% set class="active" %}
			{% endif %}
					<a href="{{url_for('root.budget_raw', year=link.year, budget_type=link.btype[1] or link.btype[0])}}" class="depenses-year {{class}}">{{link.year}}</a>
			{% endfor %}
		</div>
		<div id="depenses">
			<div id="depenses-total-circle"></div>
			<div id="depenses-total">
				<div id="depenses-total-label">{% trans %}Total dépenses{% endtrans %}</div>
				<div id="depenses-total-montant">
					<span id="depenses-total-chiffre"></span>
					<span id="depenses-total-currency">{% trans %}MDT{% endtrans %}</span>
				</div>
			</div>
			<svg width="500" height="600" xmlns="http://www.w3.org/2000/svg" id="depenses-svg">
				<circle id="ring" cx="250" cy="270" r="160" fill="none" stroke="#ccc" stroke-width="1" stroke-dasharray="3,2"></circle>
			</svg>
		</div>
		<!--
		<h3 id="depenses-titre">{% trans %}recettes de l'État{% endtrans %}</h3>
		<div class="top-5"> -->
			<!-- <a href="{{url_for('root.budget_raw', year=2012, budget_type='LFC')}}" class="depenses-year right-5">2012</a>
			<a href="{{url_for('root.budget_raw', year=2013, budget_type='LFC')}}" class="depenses-year right-5">2013</a>
			<a href="{{url_for('root.budget_raw', year=2014, budget_type='LFC')}}" class="depenses-year right-5">2014</a>
			<a href="{{url_for('root.budget_raw', year=2015, budget_type='LF')}}" class="depenses-year right-5">2015</a>
			<a href="{{url_for('root.budget_raw', year=2016, budget_type='LF')}}" class="depenses-year active">2016</a>
			<br> -->
			<!--
			{% for link in rsc_links %}
			{% if link.year != rsc_links[0].year %}
			{% set class="right-5" %}
			{% else %}
			{% set class="active" %}
			{% endif %}
					<a href="{{url_for('root.resources_raw', year=link.year, resource_type=link.btype[1] or link.btype[0],lang='ar')}}" class="resources-year {{class}}">{{link.year}}</a>
			{% endfor %}
		</div>
		<div class="bubbletree-wrapper">
			<div class="bubbletree"></div>
		</div>
		-->
	</td>
</tr></table>
{% endblock %}
