{% extends "base.html" %}

{% block head %}
<style type="text/css">
#main{
	width: 700px;
}
h1{
	margin: 0 0 40px;
	font-size: 20px;
}
#col-1{
	background-color: white;
	width: 250px;
	min-width: 250px;
}
.whitebloc{
	background-repeat: no-repeat;
	background-position: 40px 30px;
	margin-top: 40px;
}
.infos-section-titre{
	font-size: 14px;
	font-weight: bold;
	color: #fc6a59;
}
.infos-section-sous-titre{
	margin: 15px 0 5px;
	font-weight: bold;
	color: #444;
}
.processus-etape{
	position: absolute;
	width: 400px;
	border-radius: 4px;
	overflow: hidden;
}
.processus-etape-num{
	padding: 10px 0;
	width: 40px;
	font-size: 17px;
	font-weight: bold;
	line-height: 20px;
	color: white;
	background-color: #FC6A59;
	text-align: center;
}
.ar .processus-etape-titre{
	margin-left: 0px;
	margin-right: 40px;
}
.processus-etape-titre{
	background-color: #fff;
	border: 1px solid #ddd;
	padding: 10px;
	margin-left: 40px;
	line-height: 18px;
	font-weight: bold;
	color: #444;
	box-sizing: border-box;
}
.processus-etape-titre > a{
	color: #FC6A59;
}
#processus-months{
	margin-top: 6px;
	border-top: 1px dashed #aaa;
}
.processus-month{
	height: 107px;
	border-bottom: 1px dashed #bebebe;
}
.ar .processus-month > span{
	transform: rotate(90deg);
	transform-origin: top right;
}
.processus-month > span{
	display: inline-block;
	width: 100px;
	line-height: 40px;
	text-align: center;
	transform: rotate(-90deg);
	transform-origin: top left;
	margin-top: 100px;
}
#processus{
	width: 600px;
	position: relative;
}
.ar #processus-etapes{
	left: auto;
	right: 200px;
}
#processus-etapes{
	position: absolute;
	width: 400px;
	left: 200px;
	margin-top: -6px;
}
.ar #processus-dates{
	left: auto;
	right: 32px;
}
#processus-dates{
	position: absolute;
	left: 32px;
}
#processus-dates > path{
	stroke: #FC6A59;
	stroke-width: 3px;
	fill: none;
}
#processus-dates > circle{
	fill: #fc6a59;
}
.ar #processus-line{
	left: auto;
	right: 40px;
}
#processus-line{
	height: 1296px;
	width: 2px;
	background-color: #fc6a59;
	position: absolute;
	left: 40px;
}
.ar #processus-line-1{
	left: auto;
	right: 220px;
}
#processus-line-1{
	height: 1296px;
	width: 2px;
	background-color: #d6d5d3;
	position: absolute;
	left: 220px;
}
#label-1{
	display: inline-block;
	width: 217px;
}
.popover-title {
	display: none;
}
.popover-content{
	padding: 0 14px;
}
</style>
<script type="text/javascript">
$(document).ready(function()
{
	$('[rel="popover"]').popover();
	$('[rel="tooltip"]').tooltip();
})
</script>
{% endblock %}

{% block main %}
<table cellpadding="50" cellspacing="0" width="100%"><tr style="vertical-align:top">
<td id="col-1">
	<h1>{% trans %}Processus budgétaire{% endtrans %}</h1>
	<div class="strong">{{page.titre|lang}}</div>
	<div>{{page.texte|lang|safe}}</div>
</td>
<td id="col-2">
	<div id="processus">
		<div class="strong bottom-10">
			<span id="label-1">{% trans %}Loi de finance{% endtrans %} 2016</span>
			<span id="label-2">{% trans %}Étapes et délais prévus par la loi{% endtrans %}</span>
		</div>
		<div id="processus-line"></div>
		<div id="processus-line-1"></div>
		<svg width="200" height="1300" xmlns="http://www.w3.org/2000/svg" id="processus-dates">
			{% if g.lang_code == 'fr' %}
			<path d="M10,428 C80,428 80,138 170,138"/>
			<circle cx="9" cy="428" r="8" rel="tooltip" title="28/04"/>
			<path d="M10,530 C80,530 80,352 170,352"/>
			<circle cx="9" cy="530" r="8" rel="tooltip" title="29/05"/>
			{% else %}
			<path d="M190,428 C80,428 80,138 30,138"/>
			<circle cx="190" cy="428" r="8" rel="tooltip" title="28/04"/>
			<path d="M190,530 C80,530 80,352 30,352"/>
			<circle cx="190" cy="530" r="8" rel="tooltip" title="29/05"/>
			{% endif %}
		</svg>
		<div id="processus-etapes" class="floati">
			{% set top = 14 %}
			{% for etape in etapes %}
			<div rel="popover" style="top:{{top}}px" class="processus-etape" data-content="{{etape.texte|lang|safe}}">
				{% set height = etape.conf.size * 108 %}
				{% set top = top + height %}
				<div class="processus-etape-num float">{{loop.index}}</div>
				<div class="processus-etape-titre">
					{{etape.titre|lang}}
					{% set download = etape.get('download_%s' % g.lang_code) %}
					{% if download %}
					<a class="left-5 processus-etape-download" href="{{download|fileurl}}" target="_blank">({% trans %}télécharger{% endtrans %})</a>
					{% endif %}
				</div>
			</div>
			{% endfor %}
		</div>

		<div id="processus-months" class="">
			{% for month in months %}
			<div class="processus-month"><span>{{month|dateformat('MMMM')}}</span></div>
			{% endfor %}
		</div>
	</div>
</td>
</tr></table>
{% endblock %}