<style type="text/css">
#visual-editor{
    position: fixed;
    z-index: 10;
    left: 50%;
    top: 0px;
    width: 600px;
    margin: 80px -341px;
    background-color: #FFF;
    padding: 20px 40px;
    border: 1px solid #ddd;
}
#close{
    border: 2px solid #333;
    background-color: #eee;
}
#generate-data,
#close{
    width: 46px;
    height: 46px;
    margin: 20px 5px 0;
    border-radius: 30px;
    border: 2px solid transparent;
    line-height: 46px;
    font-size: 21px;
    text-align: center;
    -webkit-user-select: none;  
    -moz-user-select: none;    
    -ms-user-select: none;      
    user-select: none;
    cursor: default;
}
#generate-data{
    width: auto;
    padding: 0 10px;
    text-decoration: none;
    background-color: #eee;
    display: inline;
}
#close{
    text-decoration: none;
    background-color: #eee;
    display: inline;
}
#generate-data:hover,
#close:hover{
    background-color: #f5f5f5;
}
#map_canvas{
	width: 600px;
	height: 600px;
}
.controls {
margin-top: 16px;
border: 1px solid transparent;
border-radius: 2px 0 0 2px;
box-sizing: border-box;
-moz-box-sizing: border-box;
height: 32px;
outline: none;
box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#pac-input {
background-color: #fff;
padding: 0 11px 0 13px;
width: 400px;
font-family: Roboto;
font-size: 15px;
font-weight: 300;
text-overflow: ellipsis;
}

#pac-input:focus {
border-color: #4d90fe;
margin-left: -1px;
padding-left: 14px;  /* Regular padding-left + 1. */
width: 401px;
}
</style>
<div id="visual-editor">
    <input id="pac-input" class="controls" type="text" placeholder="Search Box">
	<div id="map_canvas"></div>

	<a class="floati" href="#" id="close">x</a>
    <a class="floati" id="generate-data">Valider</a>
</div>