{% extends "base.html" %}

{% block header %}
	<script type="text/javascript" src="/admin/static/blog/ckeditor.js">	</script>
{% endblock %}

{% block content %}

<div id="content" class="floati"><hr>
	<div class="panel panel-info">
		<div class="panel-heading">article
			<span class="pull-right">
				<a class="btn btn-default btn-sm" style="padding-bottom : 3px" href="{{ url_for('admin.new_article') }}">Ajouter un article</a>
			</span>
		</div>
   	</div>
	<div class="panel-body">
      		<form action="" method="post" enctype="multipart/form-data" id="article_form">
        		<div class="panel panel-danger">
          			<div class="panel-heading">titre</div>
          			<div class="panel-body">
					Titre (version française): <input type="text" class="form-control" name="titre_fr" required="true" value="{{titre_fr}}">
					Titre (version Arab): <input type="text" class="form-control" name="titre_ar" required="true" value="{{titre_ar}}">
				</div>
        		</div>
        		<hr>
			<div class="panel panel-danger">
          			<div class="panel-heading">Contenu</div>
          			<div class="panel-body">
		Contenu_fr:<textarea style="height:800px" class="form-control" name="contenu_fr" form="article_form" required="true">{{contenu_fr | safe}}</textarea>
				<script>
           				CKEDITOR.replace( 'contenu_fr', {extraPlugins: 'chart'} );
        			</script>
		Contenu_ar:<textarea style="height:800px" class="form-control" name="contenu_ar" form="article_form" required="true">{{contenu_ar | safe}}</textarea>
				<script>
           				CKEDITOR.replace( 'contenu_ar', {extraPlugins: 'chart'} );
        			</script>
          			</div>
        		</div>
			<hr>
			<div class="panel panel-danger">
				<div class="panel-heading">Image</div>
				<div class="panel-body">
					image <input type="file" name="image" required="true" class="form-control">
				</div>
			</div>
			<hr>
			<hr>
			<input type="submit" value="sauvgarder modification" class="btn btn-lg btn-danger">
		</form>
	</div>

  </div>
{% if error != '' %}
	<div class="flash" style="margin-top:-80px">{{ error }}</div>
{% endif %}
{% endblock %}

