<!DOCTYPE html>
<html>
<head>
	<title>admin | {{config.SITE_TITLE}}</title>
	<link rel="stylesheet" type="text/css" href="/admin/static/core/admin.5.css"/>
	<link rel="stylesheet" href="/static/map.css">
	<link rel="stylesheet" type="text/css" href="/admin/static/bootstrap.min.css">
	<script type="text/javascript" src="/admin/static/jquery.js"></script>
	{% block header %}{% endblock %}
</head>

{% set is_iframe = request.args.iframe %}
<body data-url-base="{{url_for('admin.index')}}" data-iframe="{{is_iframe}}">
	<div id="lightsoff"></div>

	<div id="header">
	<div class="wrapper">
		{% if is_iframe %}
		<span>&nbsp;</span>
		{% else %}
		<a id="site-title" href="{{config.BASE_URL}}">{{config.SITE_TITLE}}</a>
		{% endif %}
		<div id="command_bar" class="floati">
			{% if is_iframe %}
				<a href="#" id="close-iframe">(Close)</a>
			{% elif current_user.is_authenticated() %}
				<a href="{{url_for('admin.profile')}}" class="right-5">{{ current_user.data.name }}</a>
				<a href="{{url_for('admin.logout')}}">(Se déconnecter)</a>
			{% else %}
				<a href="{{url_for('admin.login')}}">Se connecter</a>


			{% endif %}
		</div>
	</div>
	</div>

	<div class="wrapper">
		{% if current_user.is_authenticated() and current_user.data["role"] in ["editor", "admin"] and not request.args.iframe %}
		<div id="menubar" class="float">
			<div>
				<a href="{{url_for('admin.collections')}}">Collections</a>
				{% if not current_user.limited %}
				<a href="{{url_for('admin.files')}}">Uploads</a>
				{% for k in config.VIEWS %}
				<a href="{{url_for('admin.%s' % k)}}">{{k}}</a>
				{% endfor %}
				{% if config.SITE_TITLE == "budget.marsad.tn" %}
				<a href="{{url_for('admin.articles')}}">articles</a>
				<a href="{{url_for('admin.projects')}}">Projects</a>
				<a href="{{url_for('admin.resources')}}">Resources</a>
				<a href="{{url_for('admin.new_budget')}}">Add Budgets</a>
				{% endif %}
				{% endif %}
				{% if current_user.data.role == "admin" %}
				<a href="{{url_for('admin.users')}}">Users</a>
				<a href="register">add user</a>
				{% endif %}
			</div>
			<div id="collections">
			{% for col in current_user.data.shortcuts %}
				<a href="{{url_for('admin.documents', collection=col)}}">{{ col }}</a>
			{% endfor %}
			</div>
		</div>
		{% endif %}

		{% block content%}{% endblock %}
	</div>

</body>
</html>
