{% import "macros.html" as macros %}
{% extends "base.html" %}

{% block header %}
    <link rel="stylesheet" href="/admin/static/jquery-ui.min.css"/>
    <script src="/admin/static/jquery-ui.min.js"></script>
    <script src="/admin/static/tinymce/js/tinymce/jquery.tinymce.min.js"></script>
    <script src="/admin/static/core/search.js"></script>
    <script src="/admin/static/core/document.11.js"></script>
    <script src="/admin/static/core/document_edit.js"></script>
    {% for scripturl in config.WIDGETS.all or [] %}
    <script src="{{scripturl}}"></script>
    {% endfor %}
    {% for scripturl in config.WIDGETS.get(collection._name) or [] %}
    <script src="{{scripturl}}"></script>
    {% endfor %}
{% endblock %}

{% block content %}
<div id="content" class="{{is_iframe and 'iframe' or 'floati'}}" data-collection="{{collection._name}}" data-doc="{{doc._id}}">

    <div class="header">
    {% if is_iframe %}
        <span>Collections . {{collection._name}} . Edit</span>
    {% else %}
        <a href="{{url_for('admin.collections')}}">Collections</a>
        <span>.</span>
        <a href="{{url_for('admin.documents', collection=collection._name)}}">{{ collection._name }}</a>
        <span>.</span>
        <span>Edit</span>
    {% endif %}
        <div class="floati" id="langs">
        {% for ln in collection._langs %}
            <span data-lang="{{ln}}" class="{{ln}} {{loop.first and 'active' or ''}}">{{ln}}</span>
        {% endfor %}
        </div>
    </div>
    
    <div class="commandline">
        {% if not is_iframe %}
        <a class="right-10" href="{{url_for('admin.add_document', collection=collection._name, doc_id=doc._id)}}">clone</a>
        <a class="right-10" href="{{url_for('admin.del_document', collection=collection._name, doc_id=doc._id)}}">delete</a>
        {% endif %}
        {% if is_open %}
        <span class="floati red">another user may be editing this document</span>
        {% endif %}
    </div>

    <div class="form object {{collection._langs[0]}}"
         data-collection="{{ collection._name }}"
         data-csrf="{{ csrf }}"
         data-id="{{ doc._id }}"
         data-mtime="{{doc._meta.mtime.isoformat()}}"
    >
        {{ macros.printObject(collection._schema, doc, doc, [], collection._langs, g) }}
        <div class="top-40">
            <input class="submit" type="submit" name="update" value="Update"/>
            <input id="draft" type="checkbox" name="_draft" {% if doc._meta and doc._meta.draft %}checked="cheched"{% endif %}/>
            <label for="draft" style="padding:7px;">Draft</label>
        </div>
        <div class="flash"></div>
    </div>

    <textarea id="clipboard"></textarea>
    <textarea id="clipboard1" class="hide"></textarea>

</div>
{% endblock %}
