{% import "macros.html" as macros %}
{% extends "base.html" %}

{% block header %}
    <link rel="stylesheet" href="/admin/static/jquery-ui.min.css"/>
    <script src="/admin/static/jquery-ui.min.js"></script>
    <script src="/admin/static/tinymce/js/tinymce/jquery.tinymce.min.js"></script>
    <script src="/admin/static/core/search.js"></script>
    <script src="/admin/static/core/document.11.js"></script>
    <script src="/admin/static/core/document_add.js"></script>
    {% for scripturl in config.WIDGETS.all or [] %}
    <script src="{{scripturl}}"></script>
    {% endfor %}
    {% for scripturl in config.WIDGETS.get(collection._name) or [] %}
    <script src="{{scripturl}}"></script>
    {% endfor %}
{% endblock %}

{% block content %}
<div id="content" class="{{is_iframe and 'iframe' or 'floati'}}" data-collection="{{collection._name}}">

    <div class="header">
    {% if is_iframe %}
        <span>Collections . {{collection._name}} . New</span>
    {% else %}
        <a href="{{url_for('admin.collections')}}">Collections</a>
        <span>.</span>
        <a href="{{url_for('admin.documents', collection=collection._name)}}">{{ collection._name }}</a>
        <span>.</span>
        <span>New{% if doc %} (clone){% endif %}</span>
    {% endif %}
        <div class="floati" id="langs">
        {% for ln in collection._langs %}
            <span data-lang="{{ln}}" class="{{ln}} {{loop.first and 'active' or ''}}">{{ln}}</span>
        {% endfor %}
        </div>
    </div>
    
    <div class="commandline"></div>

    <div class="form object {{collection._langs[0]}}"
        data-collection="{{ collection._name }}"
        data-csrf="{{ csrf }}"
    >
        {% if doc %}
        {{ macros.printObject(collection._schema, doc, doc, [], collection._langs, g) }}
        {% else %}
        {{ macros.printObjectNew(collection._schema, [], collection._langs, g) }}
        {% endif %}
        <div class="top-40">
            <input class="submit" type="submit" name="Submit" value="Save"/>
            <input id="draft" type="checkbox" name="_draft"/>
            <label for="draft" style="padding:7px;">Draft</label>
        </div>
        <div class="flash"></div>
    </div>

    <textarea id="clipboard"></textarea>
    <textarea id="clipboard1" class="hide"></textarea>
</div>
{% endblock %}
 

