{% extends "base.html" %}

{% block content %}
<div id="content" class="floati">
  <hr>
  <div class="panel panel-info">
    <div class="panel-heading">edit project  :{{ project.titre.fr }} <span class="pull-right"><a class="btn btn-default btn-sm" href="{{ url_for('admin.remove_project' , project_id=project._id) }}">Delete</a></span></div>
    <div class="panel-body">
      <form action="" method="post" enctype="multipart/form-data">
        <div class="panel panel-danger">
          <div class="panel-heading">titre</div>
          <div class="panel-body">
            fr <input type="text" class="form-control" name="titre_fr" value="{{ project.titre.fr }}">
            ar <input type="text" class="form-control" name="titre_ar" value="{{ project.titre.ar }}">
          </div>
        </div>
        <hr>
        <div class="panel panel-danger">
          <div class="panel-heading">ministére</div>
          <div class="panel-body">
            fr <input type="text" class="form-control" name="minis_fr" value="{{ project.ministere.fr }}">
            ar <input type="text" name="minis_ar" value="{{ project.ministere.ar }}" class="form-control">
          </div>
        </div>
        <hr>
        <div class="panel panel-danger">
          <div class="panel-heading">secteur</div>
          <div class="panel-body">
            fr <input type="text" name="secteur_fr" value="{{ project.secteur.fr }}" class="form-control">
            ar <input type="text" name="secteur_ar" value="{{ project.secteur.ar }}" class="form-control">
          </div>
        </div>
        <hr>
        <div class="panel panel-danger">
          <div class="panel-heading">côut</div>
          <div class="panel-body">
            côut prévu <input type="number" name="cout_prev" value="{{ project.cout_prev }}" class="form-control">
            côut réel  <input type="number" name="cout_reel" value="{{ project.cout_reel }}" class="form-control">
          </div>
        </div>
        <hr>
        <div class="panel panel-danger">
          <div class="panel-heading">dates</div>
          <div class="panel-body">
        date de début <input type="text" name="date_deb" value="{{ project.date_deb }}" class="form-control">
        date de fin <input type="text" name="date_fin" value="{{ project.date_fin }}" class="form-control">
        date de fin réel<input type="text" name="date_fin_reel" value="{{ project.date_fin_reel }}" class="form-control">
      </div>
    </div>
        <hr>
        <div class="panel panel-danger">
          <div class="panel-heading">contexte</div>
          <div class="panel-body">
        fr <textarea name="contexte_fr" rows="8" cols="40" class="form-control">{{ project.contexte.fr }}</textarea>
        ar <textarea name="contexte_ar" rows="8" cols="40" class="form-control">{{ project.contexte.ar }}</textarea>
      </div>
    </div>
        <hr>
        <div class="panel panel-danger">
          <div class="panel-heading">contenu</div>
          <div class="panel-body">
        fr <textarea name="contenu_fr" rows="8" cols="40" class="form-control">{{ project.contenu.fr }}</textarea>
        ar <textarea name="contenu_ar" rows="8" cols="40" class="form-control">{{ project.contenu.ar }}</textarea>
      </div>
    </div>
        <hr>
        <div class="panel panel-danger">
          <div class="panel-heading">objectif</div>
          <div class="panel-body">
        fr <textarea name="objectif_fr" rows="8" cols="40" class="form-control">{{ project.objectif.fr }}</textarea>
        ar <textarea name="objectif_ar" rows="8" cols="40" class="form-control">{{ project.objectif.ar }}</textarea>
      </div>
    </div>
        <hr>
        <div class="panel panel-danger">
          <div class="panel-heading">financement</div>
          <div class="panel-body">
        fr <input type="text" name="financement_fr" value="{{ project.financement.fr }}" class="form-control">
        ar <input type="text" name="financement_ar" value="{{ project.financement.ar }}" class="form-control">
      </div>
    </div>
        <hr>
        <div class="panel panel-danger">
          <div class="panel-heading">coord</div>
          <div class="panel-body">
         langitude <input type="text" name="coord_x" value="{{ project.coord.x }}" class="form-control">
         latitude <input type="text" name="coord_y" value="{{ project.coord.y }}" class="form-control">
       </div>
     </div>
        <hr>
        <div class="panel panel-danger">
          <div class="panel-heading">governorat</div>
          <div class="panel-body">
         fr <input type="text" name="gov_fr" value="{{ project.gouvernorat.fr }}" class="form-control">
         ar <input type="text" name="gov_ar" value="{{ project.gouvernorat.ar }}" class="form-control">
      </div>
    </div>
        <hr>
        <div class="panel panel-danger">
          <div class="panel-heading">municipalité</div>
          <div class="panel-body">
         fr <input type="text" name="municipalite_fr" value="{{ project.municipalite.fr }}" class="form-control">
         ar <input type="text" name="municipalite_ar" value="{{ project.municipalite.ar }}" class="form-control">
       </div>
     </div>
        <hr>
        <div class="panel panel-danger">
          <div class="panel-heading">délégation</div>
          <div class="panel-body">
          fr <input type="text" name="delegation_fr" value="{{ project.delegation.fr }}" class="form-control">
          ar <input type="text" name="delegation_ar" value="{{ project.delegation.ar }}" class="form-control">
      </div>
    </div>
        <hr>
        <div class="panel panel-danger">
          <div class="panel-heading">progression %</div>
          <div class="panel-body">
        progression <input type="number" name="progress" value="{{ project.progress }}" class="form-control">
      </div>
    </div>
        <hr>
        <input type="submit" value="update" class="btn btn-lg btn-danger">
      </form>
    </div>

  </div>
  {% if error != '' %}
  <div class="flash">{{ error }}</div>
  {% endif %}
  {% endblock %}
