{% extends "base.html" %}

{% block content %}
<div id="content" class="floati">
  <hr>
  <div class="panel panel-info">
    <div class="panel-heading">edit resource  :{{ resource.year }} <span class="pull-right"><a class="btn btn-default btn-sm" href="{{ url_for('admin.remove_resource' , resource_id=resource._id) }}">Delete</a></span></div>
    <div class="panel-body">
      <form action="" method="post">
        <div class="panel panel-warning">
          <div class="panel-heading">année</div>
          <div class="panel-body">
            <input type="number" class="form-control" name="resource_year" value="{{ resource.year }}">
          </div>
        </div>
        <hr>
        <div class="panel panel-warning">
          <div class="panel-heading">type</div>
          <div class="panel-body">
            <select class="" name="resource_type" required>
              <option value="LF">LF</option>
              <option value="LFC">LFC</option>
            </select>
          </div>
        </div>
        <hr>
        <input type="submit" value="update" class="btn btn-lg btn-danger">
      </form>
    </div>

  </div>
  {% if error != '' %}
  <div class="flash">{{ error }}</div>
  {% endif %}
  {% endblock %}
