{% extends "base.html" %}

{% block header %}
<script type="text/javascript">
$(document).ready(function()
{
	var lang_f = $('.form > .docfield > [name="lang"]'),
		size_f = $('.form > .docfield > [name="width"]'),
		type_f = $('.form > .docfield > [name="type"]');

	type_f.change(function(ev)
	{
		if (ev.target.value == "DOC")
		{
			lang_f.parent().show();
			size_f.parent().hide();
		}
		else
		{
			size_f.parent().show();
			lang_f.parent().hide();
		}
	});

	type_f.change();

	$('#close-iframe').click(function()
	{
		window.parent.postMessage({'method': 'close_iframe'}, window.location.origin);
		return false;
	})
});
</script>
{% endblock %}

{% block content %}
<div id="content" class="{{is_iframe and 'iframe' or 'floati'}}">

	<div class="header">
		{% if is_iframe %}
		<span>Files</span>
		{% else %}
		<a href="{{url_for('admin.files')}}">Files</a>
		{% endif %}
		<span>.</span>
		<span>New</span>
	</div>

	<form class="form" action="{{url_for('admin.add_file', iframe=is_iframe)}}" method="POST" enctype="multipart/form-data">
		<input name="_csrf" type="hidden" value="{{ csrf }}"/>
		
		<div class="docfield simple">
			<label>Title</label>
			<input name="title" type="text"/>
		</div>
		
		<div class="docfield fileobj">
			<label>File</label>
			<input name="file" type="file"/>
		</div>
		
		<div class="docfield choice">
			<label>Type</label>
			<select name="type">
				<option value="IMG">Image</option>
				<option value="DOC">Document</option>
			</select>
		</div>
		
		<div class="docfield choice">
			<label>Lang</label>
			<select name="lang">
				<option value="fr">français</option>
				<option value="ar">arabe</option>
				<option value="en">anglais</option>
			</select>
		</div>

		<div class="docfield numeric">
			<label>Largeur</label>
			<input name="width" type="text" placeholder="450 pour chroniques, 500 pour albawsala"/>
		</div>
		
		<div class="top-40">
			<input type="submit" value="Upload">
		</div>
		
		{% for msg in get_flashed_messages() %}
		<div class="flash">{{ msg }}</div>
		{% endfor %}
	</form>

</div>
{% endblock %}
