<!DOCTYPE html>
<html>
<head>
<title></title>
<script type="text/javascript" src="/admin/static/jquery.js"></script>
<script type="text/javascript">
$(document).ready(function()
{
	window.parent.postMessage({
		method: 'update_doc',
		doc_url: $('[name="edit_url"]').val(),
		doc_id: $('[name="file_id"]').val(),
		iframe_uid: $('[name="iframe"]').val(),
		doc_featured: $('[name="featured"').val(),
	}, window.location.origin);
});
</script>
</head>
<body>
	<input type="hidden" name="iframe" value="{{iframe}}">
	<input type="hidden" name="file_id" value="{{file_id}}">
	<input type="hidden" name="edit_url" value="{{edit_url}}">
	<input type="featured" name="featured" value="{{featured}}">
</body>
</html>