<html>
<head>
    <link rel="stylesheet" type="text/css" href="/admin/static/core/admin.2.css"/>
    <style type="text/css">
    body{
    	margin: 15px;
    }
    </style>
</head>
<body>

	<form class="form" method="POST" action="{{url_for('admin.add_image', editor=request.args.editor)}}" enctype="multipart/form-data">
		<input name="_csrf" type="hidden" value="{{csrf}}"/>
        <input name="type" type="hidden" value="IMG"/>

        <div class="docfield string">
            <label>Title</label>
            <input name="title" type="text"/>
        </div>
        
        <div class="docfield file">
            <label>File</label>
            <input name="file" type="file"/>
        </div>

        <div class="docfield numeric">
            <label>Largeur</label>
            <input name="width" type="text" placeholder="450 pour chroniques, 500 pour albawsala.com"/>
        </div>
        
        <input class="clearfloat top-40" type="submit" value="Upload">
	</form>

</body>
</html>