{% extends "base.html" %}

{% block header %}
<style type="text/css">
#log > div{
	padding: 10px;
	border-bottom: 1px solid #ececec;
}
</style>
{% endblock %}

{% block content %}
<div id="content" class="floati">

	<div class="header">Admin log</div>

	<div id="log">
	{% for elt in liste %}
		{% set usr = elt.user|get_ref %}
		<div>
		{% if elt.action == 'deleted' %}
			{{usr.name}} deleted a document from collection <a href="/admin/documents/{{elt.collection}}">{{elt.collection}}</a>.
		{% else %}
			{{usr.name}} {{elt.action}} a <a href="/admin/edit/document/{{elt.doc.collection}}/{{elt.doc.id}}">document</a> {{elt.action == 'added' and 'to' or 'in'}} collection <a href="/admin/documents/{{elt.doc.collection}}">{{elt.doc.collection}}</a>.
		{% endif %}
		</div>
	{% endfor %}
	</div>

</div>
{% endblock %}