{% extends "base.html" %}

{% block content %}
<div id="content" class="floati">

    <div class="header">Login</div>

    <form class="form" method="POST" action="{{url_for('admin.login', next=request.args.next or 
url_for('admin.collections'))}}">
        <input type="hidden" name="_csrf" value="{{csrf}}"/>

        <div class="docfield">
            <label>Email</label>
            <input type="text" name="email"/>
        </div>

        <div class="docfield">
            <label>Password</label>
            <input type="password" name="password"/>
        </div>
        
        <div class="clearfloat top-40">
            <input type="submit" value="login">
            <input type="checkbox" name="remember" id="remember"/>
            <label for="remember">Remember me</label>
        </div>
    </form>

    {% for msg in get_flashed_messages() %}
    <p class="flash">{{ msg }}</p>
    {% endfor %}

</div>
{% endblock %}
