{% macro printFieldNew(key, field, path, langs, g) %}

{% if field._type in ["string","object"] %}
	{% set subtype = field._options %}
{% else %}
	{% set subtype = '' %}
{% endif %}

{% if "multilang" in field._setup %}
	{% set type = "multilang" %}
{% else %}
	{% set type = field._type %}
{% endif %}

<div id="{{key}}"
	 class="docfield {{type}} {{subtype}}"
	 data-path="{{'.'.join(path)}}"
	 data-conditions="{{field._condition|json}}"
>
	<label>{{ field._label }}</label>
	
	{% if type == "multilang" %}
		<div class="buttons"></div>
		{% if field._options == "formated" %}
			{% for ln in langs %}
			<div class="{{ln}} data" data-lang="{{ln}}"></div>
			{% endfor %}
		{% elif field._options == "multiline" %}
			{% for ln in langs %}
			<textarea class="{{ln}} data" data-lang="{{ln}}"></textarea>
			{% endfor %}
		{% elif field._options == "list" %}
			{% for ln in langs %}
			<div class="{{ln}} data" data-lang="{{ln}}" contenteditable="true">
				<ul><li></li></ul>
			</div>
			{% endfor %} 
		{% else %}
			{% for ln in langs %}
			<input class="{{ln}} data" data-lang="{{ln}}" type="text"/>
			{% endfor %}
		{% endif %}
	
	{% elif type == "string" %}
		<div class="buttons"></div>
		{% if field._options == "formated" %}
			<div class="data"></div>
		{% elif field._options == "multiline" %}
			<textarea class="data"></textarea>
		{% elif field._options == "list" %}
			<div class="data" contenteditable="true">
				<ul><li></li></ul>
			</div>
		{% else %}
			<input class="data" type="text"/>
		{% endif %}
		
	{% elif type == "choice" %}
		<select class="data" name="{{ key }}">
		<option value=""></option>
		{% for key, val in field._options.items() %}
		<option value="{{key}}">{{val.fr}}</option>
		{% endfor %}
		</select>
		<div class="buttons"></div>
	
	{% elif type == "options" %}
		{% for key, val in field._options.items() %}
		<input id="{{key}}" type="checkbox" value="{{key}}"/>
		<label for="{{key}}">{{val.fr}}</label>
		{% endfor %}
		<div class="buttons"></div>
	
	{% elif type == "boolean" %}
		<input class="data" name="{{ key }}" type="checkbox"/>
		<div class="buttons"></div>
	
	{% elif type == "numeric"  %}
		{% if field._options == "integer" %}
			{% set fmt = "0" %}
		{% elif field._options == "float" %}
			{% set fmt = "0.0" %}
		{% elif field._options == "date" %}
			{% set fmt = "dd/mm/yyyy" %}
		{% elif field._options == "datetime" %}
			{% set fmt = "dd/mm/yyyy hh:mm:ss" %}
		{% endif %}
		<input class="data" type="text" name="{{ key }}" placeholder="{{fmt}}"/>
		<div class="buttons"></div>
	
	{% elif type in ["reference", "file"] %}
		<input class="data" type="hidden" name="ref_id" value=""/>
		<div class="buttons"></div>
		<div class="ref_commands">
		{% if type == "reference" %}
			<a href="{{url_for('admin.documents', collection=field._options)}}" class="ref_select">Select</a>
			<a href="#" class="ref_clear floati">Clear</a>
			<a href="#" class="ref_edit floati">Edit</a>
			<a href="{{url_for('admin.add_document', collection=field._options)}}" class="ref_new floati">New</a>
		{% elif type == "file" %}
			<a href="{{url_for('admin.files')}}" class="ref_select">Select</a>
			<a href="#" class="ref_clear floati">Clear</a>
			<a href="#" class="ref_edit floati">Edit</a>
			<a href="{{url_for('admin.add_file')}}" class="ref_new floati">New</a>
		{% endif %}
		</div>
		<div class="ref_obj">
			<span>...</span>
		</div>
		<div class="popup"></div>

	{% elif type == "yaml" %}
		<textarea class="data" wrap="off"></textarea>
	
	{% elif type == "object" %}
		<div class="buttons"></div>
		{{ printObjectNew(field, path, langs, g) }}
	{% endif %}

</div>
{% endmacro %}



{% macro printObjectNew(object, path, langs, g) %}
	{% for key in object._order %}
	{% if "multiple" in object[key]._setup %}
	<div class="multiple" id="{{ key }}">
		{{ printFieldNew(key, object[key], path+[key,"0"], langs, g) }}
	</div>
	{% else %}
		{{ printFieldNew(key, object[key], path+[key], langs, g) }}
	{% endif %}
	{% endfor %}
{% endmacro %}



{% macro printField(key, field, data, root, path, langs, g) %}
	
{% if field._type in ["string","object"] %}
	{% set subtype = field._options %}
{% else %}
	{% set subtype = '' %}
{% endif %}

{% if "multilang" in field._setup %}
	{% set type = "multilang" %}
{% else %}
	{% set type = field._type %}
{% endif %}

<div id="{{ key }}"
	 class="docfield {{type}} {{subtype}}"
	 data-path="{{'.'.join(path)}}"
	 data-conditions="{{field._condition|json}}"
>
	<label>{{ field._label }}</label>
	
	{% if type == "multilang" %}
		<div class="buttons"></div>
		{% if field._options == "formated" %}
			{% for ln in langs %}
			<div class="{{ln}} data" data-lang="{{ln}}">{{data[ln]|safe}}</div>
			{% endfor %}
		{% elif field._options == "multiline" %}
			{% for ln in langs %}
			<textarea class="{{ln}} data" data-lang="{{ln}}">{{data[ln]}}</textarea>
			{% endfor %}
		{% elif field._options == "list" %}
			{% for ln in langs %}
			<div class="{{ln}} data" data-lang="{{ln}}" contenteditable="true">{{data[ln]|safe}}</div>
			{% endfor %}
		{% else %}
			{% for ln in langs %}
			<input class="{{ln}} data" data-lang="{{ln}}" type="text" value="{{data[ln]}}"/>
			{% endfor %}
		{% endif %}
	
	{% elif type == "string" %}
		<div class="buttons"></div>
		{% if field._options == "formated" %}
			<div class="data">{{data|safe}}</div>
		{% elif field._options == "multiline" %}
			<textarea class="data">{{data}}</textarea>
		{% elif field._options == "list" %}
			<div class="data" contenteditable="true">{{data|safe}}</div>
		{% else %}
			<input class="data" type="text" value="{{data}}"/>
		{% endif %}
	
	{% elif type == "choice" %}
		<select class="data" name="{{ key }}">
			<option value=""></option>
			{% for key, val in field._options.items() %}
			<option value="{{key}}" {% if key == data %} selected="selected" {% endif %}>{{ val.fr }}</option>
			{% endfor %}
		</select>
		<div class="buttons"></div>
	
	{% elif type == "options" %}
		{% for key, val in field._options.items() %}
		<input id="{{key}}" type="checkbox" value="{{key}}" {% if key in data %}checked="checked"{% endif %}/>
		<label for="{{key}}">{{val.fr}}</label>
		{% endfor %}
		<div class="buttons"></div>
	
	{% elif type == "boolean" %}
		<input class="data" name="{{ key }}" type="checkbox" {% if data %} checked="checked" {% endif %}/>
		<div class="buttons"></div>
	
	{% elif type == "numeric" %}
		{% if field._options == "integer" %}
			{% set fmt = "0" %}
		{% elif field._options == "float" %}
			{% set fmt = "0.0" %}
		{% elif field._options == "date" %}
			{% set fmt, data = "dd/mm/yyyy", data and data.strftime("%d/%m/%Y") %}
		{% elif field._options == "datetime" %}
			{% set fmt, data = "dd/mm/yyyy hh:mm:ss", data and data.strftime("%d/%m/%Y %H:%M:%S") %}
		{% endif %}
		<input class="data" type="text" name="{{ key }}" placeholder="{{fmt}}" value="{{ data }}"/>
		<div class="buttons"></div>
		
	{% elif type in ["reference","file"] %}
		<input class="data" type="hidden" name="ref_id" value="{{data.id}}"/>
		<div class="buttons"></div>
		<div class="ref_commands">
		{% if type == "reference" %}
			<a href="{{url_for('admin.documents', collection=field._options)}}" class="ref_select">Select</a>
			<a href="#" class="ref_clear floati">Clear</a>
			<a href="{{data and url_for('admin.edit_document', collection=field._options, doc_id=data.id) or '#'}}" class="ref_edit floati">Edit</a>
			<a href="{{url_for('admin.add_document', collection=field._options)}}" class="ref_new floati">New</a>
		{% else %}
			<a href="{{url_for('admin.files')}}" class="ref_select">Select</a>
			<a href="#" class="ref_clear floati">Clear</a>
			<a href="{{data and url_for('admin.edit_file', file_id=data.id) or '#'}}" class="ref_edit floati">Edit</a>
			<a href="{{url_for('admin.add_file')}}" class="ref_new floati">New</a>
		{% endif %}
		</div>
		<div class="ref_obj">
		{% if data %}
			{% set doc = g.db.dereference(data) %}
			{% if type == "reference" %}
			{% for label,getter in data|featured %}<span>{{getter(doc)}}</span>{% endfor %}
			{% else %}
			<span>{{ doc.title }}</span><span>{{ doc.type }}</span>
			{% endif %}
		{% else %}
			<span>...</span>
		{% endif %}
		</div>
		<div class="popup"></div>

	{% elif type == "yaml" %}
		<textarea class="data" wrap="off">{{root._meta.raw[':'.join(path)]}}</textarea>
	
	{% elif type == "object" %}
		<div class="buttons"></div>
		{{ printObject(field, data, root, path, langs, g) }}
	{% endif %}

</div>
{% endmacro %}


{% macro printObject(object, data, root, path, langs, g) %}
	{% for key in object._order %}
	{% if key in data %}
		{% if "multiple" in object[key]._setup %}
		<div class="multiple" id="{{ key }}">
			{% for elt in data[key] %}
				{{ printField(key, object[key], elt, root, path+[key,"%s" % (loop.index-1)], langs, g) }}
			{% else %}
				{{ printFieldNew(key, object[key], path+[key,"0"], langs, g) }}
			{% endfor %}
		</div>
		{% else %}
			{{ printField(key, object[key], data[key], root, path+[key], langs, g) }}
		{% endif %}
	{% else %}
		{% if "multiple" in object[key]._setup %}
			<div class="multiple" id="{{ key }}">
			{{ printFieldNew(key, object[key], path+[key,"0"], langs, g) }}
			</div>
		{% else %}
			{{ printFieldNew(key, object[key], path+[key], langs, g) }}
		{% endif %}
	{% endif %}
	{% endfor %}
{% endmacro %}
