{% extends "base.html" %}

{% block header %}
<!-- <script>
$(document).ready( () => {
  $(".delete_budget").click( ()=> {
    alert($(this).prop('data-i'))
  })
})
</script> -->
{% endblock %}
{% block content %}
<div id="content" class="floati">
  <hr>
  <div class="panel panel-info">
    <div class="panel-heading">ministries links <span class="pull-right"><a class="btn btn-default btn-sm" style="padding-bottom : 3px" href="{{url_for('admin.add_minislinks')}}">New</a></div>
    <div class="panel-body">
      <div class="list-group">
        <a class="list-group-item active" href="#">
          <div class="btn-group btn-group-justified active disabled" role="group" aria-label="...">
            <div class="btn-group" role="group">
              current
            </div>
            <div class="btn-group" role="group">
              previous
            </div>
            <div class="btn-group" role="group">
              Action
            </div>
          </div>
        </a>
        {% for link in links %}
        <a class="list-group-item" href="#">
          <div class="btn-group btn-group-justified" role="group" aria-label="...">
            <div class="btn-group" role="group">
              {{ link.current.nom_court.fr }}
            </div>
            <div class="btn-group" role="group">
              {{ link.previous.nom_court.fr }}
            </div>
            <div class="btn-group" role="group">
              <div class="btn btn-default delete_budget" data-i=0 onclick="location.replace(`{{url_for('admin.remove_minislink' , minisid_curr =link.current._id  , minisid_prev = link.previous._id)}}`)">DELETE</div>
            </div>

          </div>
        </a>
        {% endfor %}
      </div>
    </div>
  </div>

</div>
<div id="commandbar" class="floati">

</div>
{% endblock %}
