{% extends "base.html" %}

{% block header %}
<style type="text/css">
.table > div{
	margin: 10px 0;
	line-height: 28px;
}
.table > div > button{
	background-color: #ececec;
	color: #333;
	padding: 0 12px;
	line-height: 28px;
	border-radius: 3px;
	border: 0;
	margin-right: 10px;
}
.table > div > button:hover{
	background-color: #888;
	color: white;
}
#absences > h4{
	margin: 40px 0 10px;
	padding: 0;
}
#absences > input,
#absences > select{
	margin-top: 10px;
	float: left;
	width: 180px;
	font-family: "monospace";
}
#absences > select{
	width: auto;
}
#absences > input[type="checkbox"]{
	width: auto;
	margin-top: 18px;
}
#absences > label{
	width: 140px;
}
#absences > label,
#absences > button{
	margin-top: 10px;
	float: left;
	clear: left;
}
.done{
	padding: 0 5px;
	color: red;
}
</style>
<script type="text/javascript">
var _csrf

$(document).ready(function()
{
	_csrf = $('.table > input[name="_csrf"]');

	$('.table > div > button').click(function()
	{
		var that = $(this),
			done = that.siblings('.done'),
			query = {'command': that.data('command'), '_csrf':_csrf.val()};

		done.html('<b>...</b>');

		if(query.command == 'absences')
		{
			query['elu'] = that.siblings('select[name="elu"]').val();
			query['start'] = that.siblings('input[name="date-start"]').val();
			query['end'] = that.siblings('input[name="date-end"]').val();
			query['cancel'] = that.data('cancel');
		}
		
		$.ajax({
			type: 'POST',
        	contentType: 'application/json',
			url: '/admin/routines',
			data: JSON.stringify(query), 
			success: function(data)
			{
				try {
                    var response = JSON.parse(data);
					done.text(response.message);
                    _csrf.val(response.csrf);
                }
                catch(err) {
                    done.text(status);
                }
			},
			error: function (xhr, status, error)
			{
				try {
                    var response = JSON.parse(xhr.responseText);
                    done.text(response.message);
                    _csrf.val(response.csrf);
                }
                catch(err) {
                    done.text(status);
                }
			}
		});
	})
});
</script>
{% endblock %}

{% block content %}
<div id="content" class="floati">

	<div class="header">Routines <span class="floati" style="font-size:22px;">☕</span></div>

	<div class="table">
		<input type="hidden" name="_csrf" value="{{csrf}}"/>
		<div>
			<button data-command="cache_elus">Exécuter</button>
			<span>Mettre à jour cache élus</span>
			<span class="done"></span>
		</div>
		<div>
			<button data-command="cache_photos">Exécuter</button>
			<span>Mettre à jour les photos (thumbnails) des élus</span>
			<span class="done"></span>
		</div>
		<div>
			<button data-command="cache_questions">Exécuter</button>
			<span>Mettre à jour cache questions aux élus</span> 
			<span class="done"></span>
		</div>
		<div>
			<button data-command="cache_votes">Exécuter</button>
			<span>Mettre à jour classement des élus</span>
			<span class="done"></span>
		</div>
		<div id="absences">
			<h4>
				<span>Absences justifiées</span>
			</h4>
			<label>Élu</label>
			<select name="elu">
				<option value="">Élu</option>
				{% for dep in deputes %}
				<option value="{{dep._id}}">{{dep.prenom.fr}} {{dep.nom.fr}}</option>
				{% endfor %}
			</select>
			<label>Date début</label><input name="date-start" type="text" placeholder="dd/mm/yyyy"/>
			<label>Date fin (if days > 1)</label><input name="date-end" type="text" placeholder="dd/mm/yyyy"/>
			<button data-command="absences" data-cancel="false">Exécuter</button>
			<button data-command="absences" data-cancel="true" style="clear:none;">Annuler</button>
			<span class="done float top-10"></span>
		</div>
	</div>

</div>
{% endblock %}