{% extends "base.html" %}

{% block content %}
<div id="content" class="floati">

    <div class="header">
        <a href="{{url_for('admin.users')}}">Users</a>
        <span>.</span>
        <span>Edit</span>
    </div>

    <form class="form" method="POST" action="{{url_for('admin.user_edit', user_id=user._id)}}">
        <input type="hidden" name="_csrf" value="{{csrf}}"/>
        <div class="docfield">
            <label>Name</label>
            <input type="text" name="name" value="{{user.name}}"/>
        </div>
        <div class="docfield">
            <label>Email</label>
            <input type="text" name="email" value="{{user.email}}"/>
        </div>
        <div class="docfield">
            <label>Role</label>
            <select name="role">
            	{% for role in ['subscriber', 'editor', 'admin'] %}
            	<option {% if user.role == role %}selected="selected"{% endif %} value="{{role}}">{{role}}</option>
            	{% endfor %}
            </select>
        </div>
        <div class="docfield">
            <label>Limited</label>
    		<input type="checkbox" name="limited" {% if user.limited %}checked="checked"{% endif %}/>
        </div>
        <div class="docfield">
            <label>Collections</label>
        	<textarea name="collections">{{'\n'.join(user.collections or [])}}</textarea>
        </div>
        <input class="clearfloat top-40" type="submit" value="Save">
    </form>

    {% for msg in get_flashed_messages() %}
    <div class="flash">{{ msg }}</div>
    {% endfor %}

</div>
{% endblock %}
