{% extends "base.html" %}

{% block header %}
<style type="text/css">
.table .cell.w40{ width:40%!important; }
.table .cell.w10{ width:10%!important; }
</style>
{% endblock %}

{% block content %}
<div id="content" class="floati">

    <div class="header">Users</div>

    <div class="table">
        <div class="table-header">
            <span class="col3">Title</span>
            <span>Filename</span>
            <span class="col2">Type</span>
            <span class="col1">Limited</span>
        </div>

        {% for user in users %}
        <a href="{{url_for('admin.user_edit', user_id=user._id)}}">
            <span class="col3">{{ user.name }}</span>
            <span>{{ user.email }}</span>
            <span class="col2">{{ user.role }}</span>
            <span class="col1">{{ user.limited }}</span>
        </a>
        {% endfor %}
    </div>

</div>
{% endblock %}